<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	
	<appSettings>
		<add key="servidorX"  value="SQL2012.dbsqlserver.com,1288" />
		<add key="baseX"  value="hyhasocia_sunat" />
		<add key="usuarioX"  value="hyhasocia_sunat" />
		<add key="claveX"  value="yOp332!q" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

</configuration>
